:root{
    --golovna-color:#94CFFF;
    --main-color:#FFF;
    --button-color: #26C7EA;
    --added-color: #0A3853;
    --cite-color: #000;
    --main-two-color: #141414;
    --bcg-btn: #0B0E66;
}

.container {
    width: 1096px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid blue; */
}

/* header */

.header {
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/bcg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--main-color);
    padding-top: 39px;
    padding-bottom: 39px;
}

.header-css {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 168px;
}

.nav-link-1 {
    color: var(--golovna-color);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.nav-list {
    display: flex;
    gap: 38px;
    margin-right: 100px;
}

.nav-link {
    color: var(--main-color);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
}

.header-btn {
    color: var(--button-color);
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 20px;
    font-weight: 400;
    background-color: var(--bcg-btn);
    border-color: var(--button-color);
    border-radius: 45px 0;
    padding: 8px 38px;
}

.header-link {
    color: var(--main-color);
    text-align: center;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
}

.header-list {
    display: flex;
    gap: 30px;
    margin-left: 90px;
}

/* hero */

.hero {
    background-image: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 240px;
    color: var(--main-color);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.hero-txt {
    color: var(--main-color);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.hero-btn {
    color: var(--button-color);
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    border-radius: 45px 0px;
    border: 2px solid var(--button-color);
    background: var(--bcg-btn);
    margin-top: 42px;
    padding: 10px 30px;
    width: 210px;
}

.hero-list {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

/* stutata */

.stutata{
    padding-top: 75px;
    padding-bottom: 10px;
}

.blc-txt {
    color: var(--added-color);
    text-align: justify;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.blc-text {
    color: var(--added-color);
    text-align: justify;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 16px;
}

.blc-cite {
    color: var(--cite-color);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.stutata-img {
    margin: 0 auto;
}

/* trailer */

.trailer {
    background-image: url(../img/trailer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 331px;
    text-align: center;
}

.trailer-btn {
    color: var(--button-color);
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    border-radius: 45px 0px;
    border: 3px solid var(--button-color);
    background: var(--bcg-btn);
    padding: 20px 20px;
}

/* navi */

.navi {
    background-image: url(../img/navi-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56px;
    padding-bottom: 57px;
}

.navi-title {
    color: var(--main-two-color);
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.navi-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.navi-item {
    width: 320px;
    background: rgba(255, 255, 255, 0.70);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.navi-txt {
    color: var(--main-two-color);
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
}

.navi-img {
    margin: 0 auto;
}

.navi-text {
    color: var(--cite-color);
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

/* footer */

.footer {
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/bcg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 25px;
}

.footer-web {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footer-div {
    width: 2px;
    height: 153px;
    background: var(--main-color);
}

.footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-itm {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
}

.footer-item {
    display: flex;
    justify-content: end;
}

.footer-list {
    margin: 0 auto;
}

.footer-txt {
    color: var(--main-color);
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.footer-line {
    color: var(--main-color);
    display: flex;
    align-items: center;
}

.footer-text {
    color: var(--main-color);
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.footer-p {
    color: var(--main-color);
    text-align: justify;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: 37px;
}